@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

* {
  box-sizing: border-box;
}

img {
  object-fit: cover;
}

/*loader*/
.loader {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 121, 217, 0.2352941176);
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 2; /*Généralement, un élément couvrira un autre élément si sa valeur de z-index est supérieure à celle du deuxième élément.*/
  animation: loader 3s forwards;
}

.load {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #9356dc;
  border-bottom: 10px solid #ff79da;
  border-radius: 45%;
  width: 100px;
  height: 100px;
  margin: auto;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  animation: back 1.5s infinite;
}

/*header*/

/*header acueil*/


header{
  display: flex;
  justify-content: center;
}

  header img{
    width: 60%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 60px;
    display: flex;
    justify-content: center;}

/* header pages*/
.bare__menu img{
  width: 70%;
}
  
.bare__menu{
display: flex;
justify-content: center;
justify-content: space-around;
  
}

header{
display: flex;
text-align: center;
  box-shadow: 0px 2px 2px #d4d4d4;
 
}

.arrow{
font-size: 1.5rem;
margin-top: 40px;
margin-left: 0;
}
/* Section menu*/
.cité {
  display: flex;
  flex-direction: column;
  background-color: #eaeaea;
}

.maps__search input {
  border: none;
  background: #eaeaea;
  font-size: 1rem;
  padding: 20px 5px 20px 5px;
  margin-top: 5px;
  width: 150px;
  text-align: center;
}

.maps__cité {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fa-map-marker-alt {
  padding-top: 25px;
  padding-right: 10px;
}

.about {
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 40px 0;
}

/* Section Fonctionnement page d'acueil*/
.Operation {
  margin-bottom: 50px;
}

@media (min-width: 992px) {
  .operation__etape li {
    width: 40%;
  }
  .operation__etape ul {
    display: flex;
  }
}
.operation__etape li {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 25px;
  margin: 15px 20px 15px 30px;
  border-radius: 15px;
  box-shadow: 1px 2px 8px 2px #c4c4c4;
  background-color: #f5f5f5;
}

.Operation h1 {
  padding: 20px;
}

.operation__etape__numero {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9356DC;
  color: #fff;
  border-radius: 50%;
  border: 2px solid #9356DC;
  width: 30px;
  height: 30px;
  right: 10px;
  margin-top: 3px;
  margin-left: -40px;
}

.operation__etape ul :hover {
  background-color: #F2E2FF;
}

.operation__etape__icon {
  margin-top: 3px;
  margin-left: 20PX;
}

.operation__etape ul :hover .operation__etape__icon {
  color: #9356DC;
}

.fa, .fas {
  font-weight: 900;
}

.operation__etape li p {
  font-weight: 500;
  margin-left: 20px;
}

/*section restaurant page d'acueil*/
@media (min-width: 992px) {
  .sect__resto {
    display: flex;
    flex-direction: row;
  }
  .carte {
    width: 40%;
  }
}
.resto {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
}

.resto__titre {
  margin-left: 15px;
  padding: 30px 0px 0px 10px;
}

.new {
  color: #008766;
  background: #99E2D0;
  border: 5px solid #99E2D0;
  border-radius: 5px;
  position: absolute;
  right: 1%;
  top: 5%;
}

.btn__carte {
  margin-left: -70px;
}

.carte {
  border-radius: 25px;
  box-shadow: 4px 4px 6px #aaa;
  margin: 20px;
  position: relative;
  background: #fff;
}

.Figure {
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  height: 250px;
}

.carte img {
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  height: 70%;
}

.fill__coeur {
  display: flex;
  justify-content: space-between;
  color: #000;
}

.fill__coeur .fill {
  font-size: 2rem;
  padding: 5px;
  cursor: pointer;
  transform: scale(1);
}

.fill__coeur .fill:hover {
  font-weight: bold;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transform: scale(1.3);
  transition: all 400ms ease-in-out;
}

.coeur {
  padding-left: 10px;
  width: 100%;
  height: 30%;
}

.coeur span {
  padding-right: 10px;
}

.coeur h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.Figure p {
  margin-top: 0px;
}

/*section restaurant pages*/
@media (min-width: 992px) {
  .repas {
    width: 100%;
  }
  .entier__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .entré {
    width: 25%;
  }
  .principal {
    width: 25%;
  }
  .dessert {
    width: 25%;
  }
}
.menu {
  background-color: #f6f6f6;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  position: relative;
  margin-top: -50px;
}

.image img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.menu__titre {
  font-family: Shrikhand, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

/*.....entrées......*/
.entré h3 {
  margin-bottom: 5px;
}

.entré__title {
  width: 40px;
  border-bottom: 2px solid #99E2D0;
  margin-left: 10px;
}

.repas {
  margin-left: 20px;
  margin: 10px;
  height: 80px;
  background-color: #fff;
  border-radius: 15px;
  margin-top: 10px;
  padding: 10px;
  box-shadow: 4px 4px 6px #aaa;
  transform: scale(0);
  animation: apparition 3s forwards;
}

.repas__ligne {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.prix {
  display: flex;
  flex-direction: row;
  height: 80px;
}

.prix span {
  padding-top: 20px;
}

.fa-circle-check {
  font-size: xx-large;
  margin-bottom: 15px;
}

.check {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0px;
  height: 100%;
  border-radius: 0 15px 15px 0;
  margin-top: -29px;
  margin-right: -10px;
  margin-left: 20px;
  opacity: 0;
  transition-duration: 800ms;
  animation: appar 3s forwards;
}

.repas:hover .fa-circle-check {
  transform: rotate(360deg);
  transition: 500ms;
}

.repas:hover .check {
  opacity: 1;
  width: 100px;
}

.repas P {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
 text-overflow: ellipsis;
}

.repas h4 {
  width: 100%;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*......plats.....*/
.principal__titre {
  width: 40px;
  border-bottom: 2px solid #99E2D0;
  margin-left: 10px;
}

.principal h3 {
  margin-bottom: 5px;
}

/*.....desserts.......*/
.dessert__titre {
  width: 40px;
  border-bottom: 2px solid #99E2D0;
  margin-left: 10px;
}

.dessert h3 {
  margin-bottom: 5px;
}

/*footer*/



footer {
  background-color: #353535;
  height: 220px;
}

footer h3 {
 
  color: white;
  font-family: "Shrikhand", "sans-serif";
  padding: 20px;
  margin: 0px;
}

footer a {
  color: white;
}

footer ul {
  list-style-type: none;
  
}

footer ul li {
  padding: 5px 0 5px 0;
}

footer ul .fa-utensils {
  margin-right: 10px;
}

footer ul .fa-hands-helping {
  margin-right: 5px;
}

/* btn acueil*/
.btn__cité {
  width: 50%;
  background-image: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 5px 5px;
  margin-bottom: 40px;
  font-weight: bold;
  box-shadow: 4px 4px 6px #aaa;
  display: flex;
  justify-content: center;
}

.bouton :hover {
  background-image: linear-gradient(to left, #ff79da, #8a3673);
}

.bouton {
  background: #f6f6f6;
  display: flex;
  justify-content: center;
}

/*btn_commande pages*/
.btn__commande button {
  background-image: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 10px 5px;
  color: #fff;
  font-weight: bold;
  box-shadow: 4px 4px 6px #aaa;
  cursor: pointer;
  margin: 30px 0;
  padding: 20px;
  width: 50%;
  font-size: 1rem;
}

.btn__commande {
  display: flex;
  justify-content: center;
}

@keyframes loader {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes back {
  0% {
    transform: rotate(0deg) translateY(-200%);
  }
  60%, 100% {
    transform: rotate(360deg) translateY(-200%);
  }
}
@keyframes apparition {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
