
  /*footer*/
footer{
  background-color: #353535;
  height: 220px;
}


footer h3 {
  color:white;
  font-family: "Shrikhand", "sans-serif";
  padding: 20px;
  margin: 0px;
}

footer a {
  color: white;
}
footer ul {
  list-style-type: none;
}
footer ul li {
  padding: 5px 0 5px 0;
}
footer ul .fa-utensils {
  margin-right: 10px;
}
footer ul .fa-hands-helping {
  margin-right: 5px;
  color:#353535;
}
