body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  li {
    list-style-type: none;
  }
  
  *{
      box-sizing: border-box;
  
  }
  
  img {
      object-fit: cover;
  }
  